<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('attackfavicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      window.favicon = "<%=image_url('attackfavicon.png')%>"
      window.octocat = "<%=image_url('ironcat.png')%>"
      window.linkedin = "<%=image_url('linkedin.png')%>"

      window.aquaman = "<%= image_url('logos/aquaman.png')%>"
      window.batman = "<%= image_url('logos/batman-icon.png')%>"
      window.blackpanther = "<%= image_url('logos/black-panther.png')%>"
      window.captainamerica = "<%= image_url('logos/captain-america.png')%>"
      window.flash = "<%= image_url('logos/flash.png')%>"
      window.gauntlet = "<%= image_url('logos/gauntlet.png')%>"
      window.greenlantern = "<%= image_url('logos/green-lantern.png')%>"
      window.hulk = "<%= image_url('logos/hulk.png')%>"
      window.ironman = "<%= image_url('logos/ironman.png')%>"
      window.joker = "<%= image_url('logos/joker.png')%>"
      window.spiderman = "<%= image_url('logos/spiderman-icon.png')%>"
      window.superman = "<%= image_url('logos/superman-icon.png')%>"
      window.thor = "<%= image_url('logos/thor.png')%>"
      window.venom = "<%= image_url('logos/venom.png')%>"
      window.ww = "<%= image_url('logos/ww.png')%>"
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145731823-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145731823-1');
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
